{% load static %}

<section class="footer-menu-group">
    <div class="container-fluid bg-dark footer py-2 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
        <div class="container py-2">
            <div class="row g-3">
                <!-- Related Links Column -->
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-white footer-head-txt text-uppercase">RELATED LINKS</h4>
                    <a class="btn btn-link footer-link" data-bs-toggle="modal" data-bs-target="#modalPush" onclick="changeURL(this)" target="_blank" href="https://www.india.gov.in/">National Portal of India</a>
                    <a class="btn btn-link footer-link" target="_blank" href="https://tribal.maharashtra.gov.in/1001/Home">Tribal Development Department</a>
                    <a class="btn btn-link footer-link" data-bs-toggle="modal" data-bs-target="#modalPush" onclick="changeURL(this)" target="_blank" href="https://tribal.maharashtra.gov.in/1001/Home">Tribal Commissionerate</a>
                    <a class="btn btn-link footer-link" data-bs-toggle="modal" data-bs-target="#modalPush" onclick="changeURL(this)" target="_blank" href="https://aaplesarkar.maharashtra.gov.in/en">Aaple Sarkar</a>
                    <a class="btn btn-link footer-link" data-bs-toggle="modal" data-bs-target="#modalPush" onclick="changeURL(this)" target="_blank" href="https://tribal.nic.in/">Ministry of Tribal Affairs - Govt of India</a>
                    <a class="btn btn-link footer-link" data-bs-toggle="modal" data-bs-target="#modalPush" onclick="changeURL(this)" target="_blank" href="https://www.mygov.in/">My Gov</a>
                    <a class="btn btn-link footer-link" href="https://trti.maharashtra.gov.in/helpSection">Help</a>
                    <a class="btn btn-link footer-link" href="https://trti.maharashtra.gov.in/public-feedbacks">Feedback</a>
                </div>

                <!-- Security & Brand Column -->
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-white footer-head-txt">SECURITY &amp; BRAND</h4>
                    <a class="btn btn-link footer-link" href="https://trti.maharashtra.gov.in/page/website-monitoring-policy">Website Monitoring Policy</a>
                    <a class="btn btn-link footer-link" href="https://trti.maharashtra.gov.in/page/cookie-policy">Cookies Policy</a>
                    <a class="btn btn-link footer-link" href="https://trti.maharashtra.gov.in/website-policy" title="Website Policy">Website Policy</a>
                    <a class="btn btn-link footer-link" href="https://trti.maharashtra.gov.in/page/terms-and-conditions">Terms and Conditions</a>
                    <a class="btn btn-link footer-link" href="https://trti.maharashtra.gov.in/sitemap">Sitemap</a>
                </div>

                <!-- Office & Social Links Column -->   
                <div class="col-lg-4 col-md-6">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="text-right mb-2 font-14 text-white"><i class="fa fa-calendar me-3"></i>Last Updated: <span class="text-warning">07-Feb-2025</span></p>
                            <p class="text-right mb-2 font-14 text-white"><i class="fa fa-envelope me-3"></i>trti.mah@nic.in</p>
                            <div class="d-flex pt-3">
                                <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fintent%2Ffollow%3Fscreen_name%3DTrtiOfficial%26ref_src%3Dtwsrc%255Etfw%257Ctwcamp%255Eembeddedtimeline%257Ctwterm%255Escreen-name%253ATrtiOfficial%257Ctwcon%255Es2" class="btn btn-square btn-light rounded-circle me-2" data-bs-toggle="modal" data-bs-target="#modalPush" onclick="changeURL(this)" aria-label="Twitter" title="Twitter">
                                    <img src="https://trti.maharashtra.gov.in/homepage/images/twitter-icon.png" alt="Twitter">
                                </a>
                                <a class="btn btn-square btn-light rounded-circle me-2 text-fb" data-bs-toggle="modal" data-bs-target="#modalPush" onclick="changeURL(this)" href="https://www.facebook.com/trti.mah/?ti=as" aria-label="Facebook" title="Facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UCBHMXxQdvvBZKCfC2mIM0kA/videos" class="btn btn-square btn-light rounded-circle me-2 text-yt" data-bs-toggle="modal" data-bs-target="#modalPush" aria-label="Youtube" title="Youtube" onclick="changeURL(this)">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      Website Content Owned & Managed by Tribal Research And Training Institute | MoTA | Maharashtra, India
    </div>
    <div class="credits">
      Designed and Developed by <a href="https://www.icspune.com/">Integrated Consultancy Services</a>
    </div>
  </footer>